
{% extends 'index/base.html' %}
{% block content %}
<h1>Inbox</h1>

<p>These are the messages.</p>

{% if personal_inbox %}
    <ul>
    {% for r in personal_inbox %}
        <li><a href="{% url 'memo_details' r.id %}">sender: {{r.sender}} ||| recipient: {{r.recipient_username}} |||  {{ r.subject }} ||| {{r.created}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No messages are available.</p>
{% endif %}


{% if user.is_authenticated %}
    <a href="/logout/">Logout</a>
{% else %}
    <a href="/login/?next={{ request.path }}">Login</a>
{% endif %}
<a href="/home/">Home</a>
<a href="{% url 'create_memo' %}">Create New Message</a>
{% endblock %}


