{% extends 'index/base.html' %}

{% block title %}
    <title>Getting Started</title>
{% endblock %}

{% block content %}
    <h1>Getting Started</h1>

    <p><b>Welcome to SecureWitness!</b><br>

    <ul>
        <li>
            <a href="/login/">Create an Account</a>
        </li>
        <li>
            <a href="/report/create/">Create a Report</a>
        </li>
        <li>
            Share your work
        </li>
        <li>
            <a href="/report/">Review/Edit/Delete your Reports</a>
        </li>
    </ul>

{% endblock %}