<h1>Contact Info</h1>

<img src="../../../images/ben.jpg" alt="Ben" style="width:200px;height:200px;">
<p><b>Benjamin Browning</b><br>
<body>SecureWitness Project Developer<br>
University of Virginia '17<br>
B.S. Computer Science<br>
brb7nu@virginia.edu</body></p>

<img src="../../../images/ben.jpg" alt="Brandon" style="width:200px;height:200px;">
<p><b>Brandon Blankenship</b><br>
<body>SecureWitness Project Developer<br>
University of Virginia '16<br>
B.A. Computer Science<br>
bmb8ma@virginia.edu</body></p>

<img src="../../../images/ben.jpg" alt="Jennifer" style="width:200px;height:200px;">
<p><b>Jennifer Haigler</b><br>
<body>SecureWitness Project Developer<br>
University of Virginia '16<br>
B.A. Computer Science/Biology<br>
jrh7qp@virginia.edu</body></p>

<img src="../../../images/ben.jpg" alt="Michelle" style="width:200px;height:200px;">
<p><b>Michelle Yao</b><br>
<body>SecureWitness Project Developer<br>
University of Virginia '16<br>
B.A. Computer Science<br>
xy4kj@virginia.edu</body></p>