<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

<h1>{{ r.title }}</h1>
<h2>Creation Date</h2>
{{r.created}}
<h2>Author</h2>
{{r.author}}
<h2>Sensitivity: {{r.sensitivity}}</h2>
<h2> Location of Event:</h2>
{{r.Location_of_Event}}
<h2> Short Description:</h2>
{{ r.Short_Description }}
<h2> Detailed Description </h2>
{{ r.Detailed_Description }}
<h2>Attachments</h2>
{{r.Attachments}}
<h2>Group</h2>
{{r.group_name}}

{% if authorIsViewing%}
	<h2> Folder:</h2>
	{% if r.folder %}
	{{ r.folder.pure_folder_name }}
	<a href="{% url 'remove_from_folder' report_id=r.pk %}">Remove report from this folder</a>
	{% else%}
	This report that you've created is not in a folder.
	{% endif %}

	<br>
	    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Move</button>
    </form>
	

	<a href="{% url 'edit_report' report_id=r.pk %}">Edit Report</a>

{% endif %}

{% if authorIsViewing or siteManagerIsViewing%}
	<a href="{% url 'delete_report' report_id=r.pk %}">Delete Report</a>
{% endif %}

