{% extends 'index/base.html' %}

{% block title %}
    <title>Report Detail</title>
{% endblock %}

{% block content %}
    <h1>{{ r.title }}</h1>

    <table>
        <tr>
            <td>
                <b>Creation Date</b>
            </td>
            <td>
                {{ r.created }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Author</b>
            </td>
            <td>
                {{ r.author }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Sensitivity</b>
            </td>
            <td>
                {{ r.sensitivity }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Location of Event</b>
            </td>
            <td>
                {{ r.Location_of_Event }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Group</b>
            </td>
            <td>
                {{ r.group_name }}
            </td>
        </tr>
        {% if authorIsViewing %}
            <tr>
                <td>
                    <b>Folder</b>
                </td>
                <td>
                    {% if r.folder %}
                        {{ r.folder.Folder_Name }}
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                <b>Short Description</b>
            </td>
            <td>
                {{ r.Short_Description }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Detailed Description</b>
            </td>
            <td>
                {{ r.Detailed_Description }}
            </td>
        </tr>
        <tr>
            <td>
                <b>Attachments</b>
            </td>
            <td>
                {{ r.Attachments }}
            </td>
        </tr>
    </table>

    <br><br>

    {% if authorIsViewing %}
        <a href="{% url 'edit_report' report_id=r.pk %}">Edit Report</a>
    {% endif %}

    {% if authorIsViewing or siteManagerIsViewing %}
        <a href="{% url 'delete_report' report_id=r.pk %}">Delete Report</a>
    {% endif %}

{% endblock %}
