<h1>Mission Statement</h1>

<p><b>SecureShare:  An Information System to Support Secure Information Sharing</b><br>
Many small groups in the world need a means to collect, share, and distribute information
    securely, without risking it falling into the wrong hands on their own computer or servers,
    and without it being lost due to other reasons (theft, viruses, etc).<br><br>
SecureShare.V1 provides a platform for reporters, consumers, and world audiences alike to
    securely publish and trade information, publically or privately, over our highly encrypted
    servers, delivering state of the art peer-to-peer (P2P) communication</p>