{% extends 'index/base.html' %}

{% block content %}

<h1>Security</h1>

<p><b>At SecureShare, you security is our our priority</b><br>
Whether you're sharing photos with family and friends over the air,
    or looking to store and transmit sensitive information between select
    recipients, SecureShare provides a one-stop-shop for all your needs.<br><br>
<i>SecureShare uses advanced encryption methods in order to protect <b>you</b> online.</i><br><br>
With locally stored, unique encryption keys for each user, you can rest assured that your information
    is protected by endpoint to endpoint security. This way, your information can only be accessed by those
    who you've provided with the key, unless you publish your report as public</p>

<ul id="nav">
    <li><a class="one" href="/about/">Getting Started</a></li>
    <li><a class="one" href="/mission/">Mission Statement</a></li>
    <li><a class="one" href="/security/">Security</a></li>
    <li><a class="one" href="/contact/">Contact Us</a></li>
</ul>

{% endblock %}